/* Google Fonts */
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --header-height: 3rem;
  --font-semi: 600;

  --hue-color: pink;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
::before:,
::after: {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: (--normal-font-size);
}
/* color: var();} add color */

h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  /* color: ; add var */
  /* margin-top: ; add var */
  /* margin-bottom: ; add var */
  text-align: center;
}

/* home */
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home-title {
  font-size: var(--big-font-size);
  margin-bottom: auto;
}
.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
